* {
    font-size: 14px;
}

@media screen and (max-width:768px){
    * {
        font-size: 10px;
    }    
}

.titulo {
    font-size: 2rem;
    background-color: lightgray;
    border: 1px solid;
    margin: 1rem;
    padding: 1rem;
}

